body 
{
background-color: #000000;
}


input[type="range"]{
-webkit-appearance: none;
  overflow:hidden;     /* 限定範圍 */
  width:560px;
  height:60px;
  outline : none;      /* 避免點選會有藍線或虛線 */
  background:#7b7b7b;
  border-radius:3%;
}

input[type="range"]::-webkit-slider-thumb{
 -webkit-appearance: none;
  position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width:40px;
  height:80px;
  background:#fff;
  border-radius:30%;
  transition:.2s;        /* 點選放大時候的漸變時間 */
}
